/* header */
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: transparent;
	transition: 0.3s;
	z-index: 10;
}
header.active {
	background-color: #fff;
	border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}
header.active .navi {
	float: left;
}

/* header-gnb */
.gnb-inner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}
.topmenu {
	height: 80px;
}
.topmenu h1 {
	float: left;
	margin-right: 18px;
	width: 195px;
	font-size: 0;
}
.topmenu h1 a {
	display: block;
	width: 195px;
	height: 80px;
	background: url(images/logo.png) no-repeat center;
}
.topmenu ul {
	float: left;
	font-size: 0;
}
.topmenu ul li {
	display: inline-block;
}
.topmenu ul li a {
	margin: 0 12px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 80px;
}

.gnb-icon {
	position: absolute;
	right: 0;
	height: 80px;
	font-size: 0;
	box-sizing: border-box;
}
.gnb-icon a {
	display: inline-block;
	margin-left: 18px;
	padding-top: 24px;
	height: 80px;
	vertical-align: bottom;
	box-sizing: border-box;
}
.search {
	overflow: hidden;
	display: inline-block;
	position: absolute;
	top: 24px;
	right: 120px;
	width: 0;
	height: 34px;
	font-size: 0;
	vertical-align: -20px;
	box-sizing: border-box;
	transition: 0.3s;
}
.search.on {
	width: 260px;
}
.search input[type=search] {
	float: left;
	padding: 0 10px;
	width: calc(100% - 34px);
	height: 34px;
	border: none;
	border: 1px solid #ddd;
	border-radius: 3px 0 0 3px;
	font-size: 17px;
	vertical-align: 4px;
	box-sizing: border-box;
}
.search input[type=search]::placeholder {
	font-size: 14px;
	color: #848484;
	transition: 0.3s;
}
.search input[type=search]:focus::placeholder {
	opacity: 0;
}
.search button {
	float: left;
	width: 34px;
	height: 34px;
	background: #ddd url(images/icon-01.png) no-repeat center;
	background-size: 15px;
	border: none;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}
.gnb-icon .search-btn {
	margin-left: 14px;
	padding-top: 29px;
}
.gnb-icon .cart {
	position: relative;
	padding-top: 26px;
}
.cart span {
	position: absolute;
	top: 20px;
	right: -8px;
	width: 20px;
	height: 20px;
	background-color: #c20b0b;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

/* header-navi */
.navi.active .menu-left,
.navi.active .menu-right {
	display: none;
}
.navi.active .shop-menu {
	position: absolute;
	top: 0;
	left: 52%;
}
.navi-inner {
	margin: 0 auto;
	width: 1200px;
}

/* shop-menu btn */
.shop-menu {
	position: absolute;
	margin-top: 15px;
}
.shop-menu {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #000;
	border: none;
	border-radius: 50%;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.shop-menu span {
	display: inline-block;
	position: relative;
	padding-top: 19px;
	height: 20px;
	box-sizing: border-box;
}
.shop-menu span:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 50%;
	transform: translate(-50%);
	width: 24px;
	height: 11px;
	background: url(images/icon-10.png) no-repeat center /100%;
}
.navi-inner > ul {
	display: inline-block;
	padding-left: 55px;
	font-size: 0;
}
.navi-inner > ul > li {
	display: inline-block;
	vertical-align: middle;
}
.navi-inner > ul > li > a {
	margin: 15px;
	font-size: 15px;
	line-height: 80px;
}
.menu-left {
	float: left;
	height: 80px;
}
.menu-right {
	float: right;
	height: 80px;
}
.menu-right li:last-child a {
	margin-right: 0;
}
.menu-left>li {
	position: relative;
}
.menu-left > li:hover .menu-sub {
	opacity: 1;
	pointer-events: auto;
}
.menu-sub {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	padding: 10px 0;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	opacity: 0;
	pointer-events: none;
}
.menu-sub:before {
	content: '';
	position: absolute;
	left: 50%;
	top: -8px;
	transform: translateX(-50%) rotate(-45deg);
	width: 16px;
	height: 16px;
	background-color: #fff;
}
.menu-sub li a {
	display: inline-block;
	padding: 5px 10px;
	width: 100px;
	color: #333;
	font-size: 14px;
}
.menu-sub li a:hover {
	color: #666;
}

/* mega-menu */
.menu-all {
	position: absolute;
	width: 100%;
	background-color: rgba(255, 255, 255);
	box-shadow: 0 3px 5px rgba(221, 221, 221, 0.3);
	box-sizing: border-box;
	z-index: 11;
}
.menu-all:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 2px;
	background-color: #888;
	transition: 3s 1s;
}
.menu-all.active:before {
	width: 100%;
}
.menu-all > ul {
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	width: 1200px;
	height: 300px;
	font-size: 0;
	box-sizing: border-box;
}
.menu-all > ul:after {
	content: '';
	position: absolute;
	top: 100%;
	left: -40px;
	width: 64px;
	height: 110px;
	background: url(images/menu-img.png) no-repeat center top /100%;
}
.menu-all > ul > li {
	display: inline-block;
	position: relative;
	padding: 20px 56px;
	font-size: 15px;
	vertical-align: top;
}
.menu-all > ul > li > a {
	font-size: 14px;
	font-weight: bold;
}
.menu-all > ul > li:before {
	position: absolute;
	left: 0;
	margin-top: -8px;
	width: 35px;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 50%;
	font-family: fontawesome;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 35px;
	transition: 0.4s;
}
.menu-all > ul > li:nth-of-type(1):before {
	content: '\f281';
}
.menu-all > ul > li:nth-of-type(2):before {
	content: '\f0e9';
}
.menu-all > ul > li:nth-of-type(3):before {
	content: '\f072';
}
.menu-all > ul > li:nth-of-type(4):before {
	content: '\f108';
}
.menu-all > ul > li:nth-of-type(5):before {
	content: '\f02c';
}
.menu-all > ul > li:hover:before {
	background-color: #555;
	border: 1px solid #555;
	color: #fff;
}
.all-sub {
	padding-top: 15px;
}
.all-sub li {
	padding: 5px 0;
}
.all-sub li a {
	position: relative;
	font-size: 14px;
	color: #444;
	font-weight: 300;
}
.all-sub li:before {
	content: '';
	position: absolute;
	left: 0;
	margin-top: 10px;
	width: 0;
	height: 1px;
	background-color: #555;
		transition: 0.5s;
}
.all-sub li:hover:before {
	width: 35px;
}
.menu-thum {
	float: right;
	display: block;
	width: 300px;
	height: 200px;
	border: 1px solid red;
}

/* section-visual */
.visual {
	overflow: hidden;
	/*  background: #4296de;*/
	background: #ffd956;
	height: 100vh;
}
.visual-inner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 100%;
	/*
	background: url(images/heading.png) no-repeat fixed left 353px center;
	background-size: 696px 287px;
*/
}
.visual-heading {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 160px;
	color: #222;
	font-weight: 100;
	text-indent: -15px;
}
.visual-heading span {
	display: block;
	margin-top: -30px;
	padding-left: 5px;
	font-weight: 800;
	line-height: 100%;
}
.main-minions {
	position: absolute;
	bottom: 3%;
	left: 55%;
	width: 498px;
	height: 676px;
	background: url(images/main-img-01.png) no-repeat bottom right 35%;
	text-align: center;
	z-index: 1;
}
.main-minions:hover {
	animation: main 1.5s infinite ease;
}
@keyframes main {
	0% {
		transform: rotate(1deg);
	}
	20% {
		transform: rotate(-1deg);
	}
	40% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(-1deg);
	}
	80% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(1deg);
	}
}

@keyframes bg {
	0% {
		background-color: #fff;
		left: 100%
	}
	20% {
		background-color: #eee;
	}
	40% {
		background-color: #ddd;
	}
	60% {
		background-color: #ccc;
	}
	80% {
		background-color: #bbb;
	}
	100% {
		background-color: #fff;
		left: -100%
	}
}

/* section-character */
.character {
	padding-bottom: 100px;
	/*	background-color: #363636;*/
}
.character-inner {
	margin: 0 auto;
	width: 1200px;
}
.title {
	padding: 122px 0 60px;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0;
}
.profile-wrap {
	overflow: hidden;
	float: left;
	width: 1040px;
	height: 564px;
	background-color: #363636;
	border: 10px solid #6f6f6f;
	border-radius: 10px;
	box-sizing: border-box;
}
.profile-box {
	position: relative;
	width: 3120px;
}
.profile {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 46px 60px;
	width: 1020px;
	height: 544px;
	box-sizing: border-box;
}
.profile.on {
	display: block;
	z-index: 1;
}
.profile:nth-child(1) {
	background: url(images/cha-pf-01.png) no-repeat right 140px bottom 88px;
}
.profile:nth-child(2) {
	background: url(images/cha-pf-02.png) no-repeat right 165px bottom 26px;
}
.profile:nth-child(3) {
	background: url(images/cha-pf-03.png) no-repeat right 92px bottom 104px;
}
.profile p {
	padding-top: 100px;
	width: 500px;
	color: #fff;
	text-align: center;
	animation: ani-left 0.3s 0.2s both;
}
.profile.on p {
	margin: 0;
}
.profile p strong {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 120px;
	text-transform: uppercase;
}
.profile p strong small {
	margin-left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 22px;
	font-weight: 500;
	vertical-align: 20px;
}
.profile p span {
	display: block;
	font-size: 20px;
	color: #9f9f9f;
	text-align: center;
	line-height: 34px;
}
@keyframes ani-left {
	0% {
		transform: translateX(-30px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
.character-tab {
	float: left;
	padding: 62px 0 0 57px;
	font-size: 0;
	text-align: center;
}
.tab-btn {
	cursor: pointer;
}
.tab-btn p {
	margin: 0 0 20px 0;
	padding: 10px 0;
	font-size: 14px;
	color: #333;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0;
}
.tab-btn p:last-of-child {
	margin-bottom: 0;
}
.tab-btn span {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	vertical-align: top;
	text-align: center;
}
.tab-btn.on span {
	background-color: #505050;
}
.tab-btn01 span {
	background: #eee url(images/cha-01.png) no-repeat center;
}
.tab-btn02 span {
	background: #eee url(images/cha-02.png) no-repeat center;
}
.tab-btn03 span {
	background: #eee url(images/cha-03.png) no-repeat center;
}

/* section-pick */
.pick {
	padding-bottom: 100px;
	background-color: #ffd956;
}
.pick-inner {
	margin: 0 auto;
	width: 1200px;
}
.pick-slide-box {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 434px;
}
.left-btn,
.right-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 70px;
	border: none;
	cursor: pointer;
	opacity: 0.7;
	transition: 0.4s;
}
.left-btn:hover,
.right-btn:hover {
	opacity: 1;
}
.left-btn {
	left: 0;
	background: url(images/btn-left.png) no-repeat center;
}
.right-btn {
	right: 0;
	background: url(images/btn-right.png) no-repeat center;
}
.pick-slide {
	overflow: hidden;
	margin: 0 auto;
	width: 1080px;
}
.pick-box {
	/*  width: 2500px;*/
	height: 434px;
	font-size: 0;
}
.pick-box li {
	display: inline-block;
	margin-right: 45px;
}
.pick-box li:hover a {
	background-color: #4296de;
	color: #fff;
}
.pick-box li:last-child {
	margin-right: 0;
}
.pick-item {
	display: block;
	width: 330px;
	height: 434px;
	padding: 15px;
	border-radius: 10px;
	background-color: #fff;
	text-align: center;
	box-sizing: border-box;
	transition: 0.3s;
}
.pick-item span {
	display: block;
	width: 300px;
	height: 300px;
}
.pick-item span img {
	width: 100%;
}
.pick-item strong {
	display: block;
	padding-top: 18px;
	font-size: 20px;
	font-weight: bold;
}
.price {
	display: block;
	color: #920000;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
}
.rank {
	padding-top: 10px;
}
.rank .fa {
	margin: 0 2px;
	font-size: 18px;
	color: #f9b217;
}

/* section-best */
.best-inner {
	margin: 0 auto;
	width: 1200px;
}
.best-box {
	margin-bottom: 46px;
	font-size: 0;
}
.best-box li {
	display: inline-block;
	position: relative;
	margin-right: 42px;
	width: 372px;
}
.best-box li:last-child {
	margin-right: 0;
}
.best-top {
	position: relative;
	overflow: hidden;
	width: 372px;
	height: 372px;
	border: 1px solid #ddd;
	border-radius: 10px;
}
.best-top:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: 0.4s;
}
.best-top:hover:before {
	opacity: 1;
}
.best-top img {
	width: 100%;
}
.best-top span {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	font-size: 0;
	opacity: 0;
}
.best-top:hover span {
	animation: ani-top 1 .4s .3s both;
}
@keyframes ani-top {
	0% {
		opacity: 0;
	}
	100% {
		bottom: 30px;
		opacity: 1;
	}
}
input[id*=like] {
	position: absolute;
	left: -500%;
}
label[for*=like],
.goods-cart {
	display: inline-block;
	margin: 0 7px;
	width: 55px;
	height: 55px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}
.best-top span label[for*=like] {
	background: url(images/icon-04.png) no-repeat center;
}
.best-top span button {
	background: url(images/icon-05.png) no-repeat center;
}
.best-top span input[id=like1]:checked+label[for=like1],
.best-top span input[id=like2]:checked+label[for=like2],
.best-top span input[id=like3]:checked+label[for=like3],
.best-top span input[id=like4]:checked+label[for=like4],
.best-top span input[id=like5]:checked+label[for=like5],
.best-top span input[id=like6]:checked+label[for=like6] {
	background: url(images/icon-04-1.png) no-repeat center;
}
.sale {
	position: absolute;
	left: 14px;
	top: -6px;
	padding-top: 16px;
	width: 36px;
	height: 40px;
	background-color: #4296de;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	box-sizing: border-box;
	z-index: 1;
}
.sale:after {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 36px;
	height: 11px;
	background: url(images/icon-06.png) no-repeat center;
}
.best-price {
	padding: 15px;
	text-align: center;
}
.best-price strong {
	font-size: 20px;
	color: #3c3c3c;
}
.best-price p {
	margin: 0;
	font-size: 20px;
	color: #920000;
	font-weight: bold;
}
.best-price p small {
	margin-left: 6px;
	font-size: 14px;
	color: #b7b7b7;
	text-decoration: line-through;
	font-weight: normal;
}

/* cart-modal */
.modal-layer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
}
.cart-inner {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 900px;
	background-color: #fff;
	border-radius: 10px;
	z-index: 11;
	box-sizing: border-box;
}
.cart-inner h3 {
	padding: 20px 15px 10px 15px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;
	z-index: 30;
}
.cart-con {
	overflow-y: auto;
	padding: 10px 20px;
	max-height: 600px;
	box-sizing: border-box;
}
.cart-product,
.cart-select {
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.cart-product {
	border: 1px solid #ddd;
	font-size: 0;
	text-align: center;
}
.cart-product img {
	width: 100%;
}
.cart-select {
	padding: 0 0 0 20px;
}
.cart-select strong {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.cart-select ul {
	padding: 10px 0 20px;
	color: #222;
}
.cart-select ul li {
	padding: 6px 0;
	font-size: 15px;
}
.cart-select ul li b {
	display: inline-block;
	width: 80px;
	font-weight: 400;
}
.cart-select ul li em {
	display: block;
	padding: 4px 0;
	text-indent: 83px;
}
.price-style {
	color: #4296de;
	font-weight: 500;
}
.cart-select ul li select,
.count input,
.count button {
	height: 30px;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
}
.cart-select ul li select {
	width: calc(100% - 100px);
	border-radius: 3px;
}

/* product add */
.add-info {
	padding: 0 0 8px 0;
	font-size: 13px;
	color: #444;
	font-weight: 300;
}
.product-add {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
}
.product-add th, 
.product-add td {
	padding: 10px 0;
	text-align: left;
}
.product-add td:last-child {
	text-align: right;
}
.product-add th p em {
	display: block;
	padding: 2px 0;
	font-weight: 400;
}
.product-add th p em:before {
	content: '- ';
}
.product-add .list-del {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border: none;
	cursor: pointer;
}
.count {
	font-size: 0;
}
.count input {
	width: 50px;
	border-left: none;
	border-right: none;
}
.count button {
	width: 30px;
	font-size: 13px;
	cursor: pointer;
}
.count button.minus {
	border-right: none;
	border-radius: 3px 0 0 3px;
}
.count button.plus {
	border-left: none;
	border-radius: 0 3px 3px 0;
}
.count button:before {
	font-family: fontawesome;
	color: #888;
}
.count button.minus:before {
	content: '\f068';
}
.count button.plus:before {
	content: '\f067';
}
.total {
	padding: 40px 0 20px;
	border-bottom: 1px solid #ddd;
}
.total span {
	padding: 0 0 0 10px;
	font-size: 18px;
	font-weight: 400;
}
.total em {
	font-size: 20px;
	font-weight: 600;
}
.cart-btn {
	padding: 20px 0;
	font-size: 0;
}
.cart-btn a {
	display: inline-block;
	margin: 0 6px 0 0;
	padding: 10px;
	width: calc(33.3333% - 4px);
	border-radius: 3px;
	font-size: 15px;
	text-align: center;
	box-sizing: border-box;
	transition: all .3s;
}
.cart-btn a:last-child {
	margin-right: 0;
}
.cart-btn a.go-pay {
	background-color: #4296de;
	color: #fff;
}
.cart-btn a.go-cart {
	background-color: #888;
	color: #fff;
}
.cart-btn a.go-detail {
	border: 1px solid #ccc;
}
.cart-btn a.go-pay:hover {
	opacity: .9;
}
.cart-btn a.go-cart:hover {
	background-color: rgba(136, 136, 136, 0.8);
}
.cart-btn a.go-detail:hover {
	border: 1px solid rgba(204, 204, 204, 0.8);
	background-color: #eee;
} 
 

/* media video-modal */
.modal {
	display: none;
}
.modal-video {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	z-index: 11;
}
.modal-video div {
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
}
.modal-video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}
/* modal-closebtn*/
.modal-close {
	position: absolute;
	bottom: calc(100% + 3px);
	left: calc(100% + 3px);
	width: 60px;
	height: 60px;
	background-color: #fff;
	border: none;
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
}
.modal-close:before,
.modal-close:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 30px;
	height: 2px;
	background-color: #000;
}
.modal-close:before {
	transform: translate(-50%, -50%) rotate(45deg);
}
.modal-close:after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

/* section-banner */
.banner {
	position: relative;
	margin-top: 180px;
	height: 186px;
	background-color: #4296de;
	box-sizing: border-box;
}
.banner-inner {
	position: absolute;
	width: 1200px;
	left: 50%;
	bottom: -20px;
	transform: translateX(-50%);
	height: 250px;
	background: url(images/banner-img.png) no-repeat left 10% center;
	z-index: 1;
}
.banner-txt {
	position: absolute;
	top: 50%;
	left: 48%;
	transform: translateY(-50%);
	margin: 0;
	font-size: 26px;
	color: #fff;
	font-weight: bold;
}
.banner-txt span {
	display: block;
	color: #fcd451;
}

/* section-media */
.media {
	padding-bottom: 180px;
}
.media-inner {
	margin: 0 auto;
	width: 1200px;
}
.media-box p {
	float: left;
	margin: 0;
}
.media-box p a {
	overflow: hidden;
	display: block;
	position: relative;
	width: 480px;
	height: 480px;
	border-radius: 10px 0 0 10px;
	box-sizing: border-box;
}
.media-box p a:before,
.media-box p a:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.media-box p a:before {
	background-color: rgba(0, 0, 0, 0.6);
}
.media-box p a:after {
	background: url(images/icon-11.png) no-repeat center;
}
.media-box p a img {
	width: 100%;
}
.media-box p a span {
	position: absolute;
	bottom: 40px;
	left: 0;
	padding: 0 15px;
	width: 323px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 50px;
	box-sizing: border-box;
}
.media-box ul {
	overflow: hidden;
	float: right;
	width: 720px;
	border-radius: 0 10px 10px 0;
	font-size: 0;
	box-sizing: border-box;
}
.media-box ul li {
	overflow: hidden;
	display: inline-block;
	position: relative;
	width: 33.3333%;
	height: 240px;
	box-sizing: border-box;
}
.media-box ul li:last-child {
	width: 66.6666%;
	border: 1px solid #eee;
	border-radius: 0 0 10px 0;
}
.media-box ul li:last-child a img {
	padding: 15px 0 0 30px;
	height: 100%;
}
.media-box ul li a img {
	transition: 0.3s;
}
.media-box ul li:hover a img {
	transform: scale(1.1);
}
.media-box ul li a span {
	position: absolute;
	bottom: 30px;
	left: 0;
	padding: 0 15px;
	width: 178px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 16px;
	color: #fff;
	line-height: 50px;
	box-sizing: border-box;
}

/* footer */
footer {
	height: 388px;
	background-color: #303030;
}
.footer-inner {
	width: 1200px;
	margin: 0 auto;
	color: #fff;
}
.footer-inner > div {
	float: left;
	margin-right: 30px;
	padding: 70px 0;
	width: 380px;
}
.footer-inner > div > h3 {
	position: relative;
	padding-bottom: 20px;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
}
.footer-inner > div:last-child {
	margin-right: 0;
}
.about-text,
.foot-news ul {
	padding: 20px 0;
	height: 204px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-size: 15px;
	box-sizing: border-box;
}
.about-text p {
	margin: 0;
	padding: 6px 0 10px;
}
.about-text p span {
	font-weight: bold;
}
.about-text em {
	position: relative;
	display: block;
	padding: 6px 0 6px 30px;
	font-style: normal;
}
.about-text em:before {
	content: '';
	position: absolute;
	left: 0;
	margin-right: 6px;
	width: 22px;
	height: 22px;
	background: url(images/icon-group.png) no-repeat;
}
.about-text em:nth-of-type(1):before {
	top: 10px;
	background-position: 0 0;
}
.about-text em:nth-of-type(2):before {
	background-position: -22px 0;
}
.about-text em:nth-of-type(3):before {
	background-position: -44px 0;
}
.foot-news ul li {
	padding: 6px 0;
}
.foot-news ul li a {
	overflow: hidden;
	display: inline-block;
	width: 375px;
	color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.more {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
}
.foot-insta ul {
	font-size: 0;
}
.foot-insta ul li {
	display: inline-block;
}
.foot-insta ul li a {
	display: block;
	position: relative;
	width: 125px;
	height: 102px;
}
.foot-insta ul li a img {
	width: 100%;
}
.foot-insta ul li a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: 0.3s;
}
.foot-insta ul li:hover a:before {
	opacity: 0;
}

/* gototop */
.gototop {
	position: fixed;
	right: -60px;
	bottom: 20px;
	width: 40px;
	transition: 0.5s;
}
.gototop span {
	display: block;
	position: relative;
	left: -18px;
	margin-bottom: 10px;
	width: 48px;
	height: 20px;
	background-color: #4296de;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-size: 13px;
	animation: top 1s infinite;
}
.gototop span:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -3px;
	transform: rotate(45deg);
	width: 6px;
	height: 6px;
	background-color: #4296de;
}
.gototop img {
	width: 100%;
}
.gototop.active {
	right: 0;
}
@keyframes top {
	0% {
		margin-bottom: 5px;
	}
	50% {
		margin-bottom: 7px;
	}
	100% {
		margin-bottom: 5px;
	}
}